/* 4.1.24 */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background: url(./assets/neon-green.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}

.app-container{

  /* width: 100%; */
  height: 100vh;

 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  backdrop-filter: blur(30px);
  padding: 20px;
  gap: 7px;
}


.app-container h1{


font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(77, 255, 0);
  margin-bottom: 7px;
  
  background-color: black;

  text-shadow: 1px 1px 1px  black;
  box-shadow: 2px 2px 2px black;

  padding: 10px;
  border-radius: 10px;

}
span{
  background-color: rgb(77, 255, 0);
  color: black;
  padding: 0 10px;
  border-radius: 10px;
text-transform: uppercase;
}
.app-container p{
  margin-top: 15px;
}
.qr-image{
  
  top:0;
  padding: 7px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px;
}

.app-container .input-label {

  margin-bottom: 8px;
  font-size: 18px;
font-size: 23px;

font-family: 'Courier New', Courier, monospace;

  color: rgb(6, 255, 35);
  letter-spacing: 0.7px;
  
  text-shadow: 4px 3px 4px rgb(0, 0, 0);
  padding: 4px;
  font-weight: 600;
  
}

input[type="text"]{
  padding: 12px;
  margin-bottom: 20px;
  width: 50%;
  font-size: 16px;
  border: 2px solid rgba(0, 255, 60, 0.648);
  border-radius: 5px;
  background: transparent;
}
input::placeholder{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
button{
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.Generate-btn{
  background-color: rgb(77, 255, 0);
  color: black;
font-weight: 600;
  border-radius: 10px;
}
.Generate-btn:disabled{
  background-color: black;
  cursor: not-allowed;
}
.Generate-btn:hover{
  background-color: black;
  color: rgb(77, 255, 0);
}

.Download-btn{
     background-color: black;
  color: rgb(77, 255, 0);
font-weight: 600;
  border-radius: 10px;
}
.Download-btn:hover{
  background-color: rgb(77, 255, 0);
  color: black;
}
@media (max-width: 480px) {
  .app-container {
    padding: 5px;
    gap: 3px;
  }

  .app-container h1 {
    font-size: 18px;
    padding: 6px;
  }

  input[type="text"] {
    width: 95%;
    font-size: 14px;
    padding: 8px;
  }

  button {
    width: 95%;
    font-size: 14px;
    padding: 10px;
  }
}
